# --- 应用设置 ---
app:
  # 告诉机器人，我们要监控这7个平台
  platforms:
    - douyin
    - zhihu
    - bilibili
    - weibo
    - wechat_channel
    - xiaohongshu
    - toutiao  # 新增：今日头条

# --- 通知设置 ---
notify:
  # 开启飞书通知
  feishu:
    enabled: true
    webhooks:
      # 这两行是“魔法”，告诉机器人去“秘密地点”拿你的飞书钥匙
      - url: '${{ secrets.FEISHU_WEBHOOK }}'
        secret: '${{ secrets.FEISHU_SECRET }}'

# --- 平台具体设置 ---
platforms_config:
  douyin:
    enabled: true
  zhihu:
    enabled: true
  bilibili:
    enabled: true
  weibo:
    enabled: true
  wechat_channel:
    enabled: true # 视频号
  xiaohongshu:
    enabled: true # 小红书
  toutiao:
    enabled: true # 新增：今日头条
